USE [master]
GO
/****** Object:  Database [MiniWebShop]    Script Date: 27/07/2021 17:03:30 ******/
CREATE DATABASE [MiniWebShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MiniWebShop', FILENAME = N'C:\dev\king_akademija_2021\Zadatak\zadatak-mini_web_shop\MiniWebShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MiniWebShop_log', FILENAME = N'C:\dev\king_akademija_2021\Zadatak\zadatak-mini_web_shop\MiniWebShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MiniWebShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MiniWebShop]
GO
/****** Object:  Table [dbo].[BRAND]    Script Date: 27/07/2021 17:03:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRAND](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAZIV] [nchar](30) NOT NULL,
 CONSTRAINT [PK_BRAND] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NACIN_PLACANJA]    Script Date: 27/07/2021 17:03:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NACIN_PLACANJA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAZIV] [varchar](50) NULL,
 CONSTRAINT [PK_NACIN_PLACANJA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NARUDZBA]    Script Date: 27/07/2021 17:03:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NARUDZBA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DATUM] [datetime] NULL,
	[UKUPNA_CIJENA_BEZ_P] [decimal](18, 2) NULL,
	[UKUPNA_CIJENA_S_P] [decimal](18, 2) NULL,
	[KOD_ZA_POPUST_ID] [int] NULL,
	[NACIN_PLACANJA_ID] [int] NULL,
	[BROJ_KARTICE] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[BROJ_MOBITELA] [int] NULL,
	[ADRESA_DOSTAVE] [varchar](500) NULL,
	[NAPOMENA] [varchar](500) NULL,
 CONSTRAINT [PK_NARUDZBA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NARUDZBA_PROIZVODI]    Script Date: 27/07/2021 17:03:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NARUDZBA_PROIZVODI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NARUDZBAID] [int] NULL,
	[PROIZVODID] [int] NULL,
 CONSTRAINT [PK_NARUDZBA_PROIZVODI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POPUST_KODOVI]    Script Date: 27/07/2021 17:03:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POPUST_KODOVI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KOD] [varchar](50) NULL,
	[POPUST] [decimal](18, 2) NULL,
	[ISKORISTEN] [tinyint] NULL,
 CONSTRAINT [PK_POPUST_KODOVI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROIZVOD]    Script Date: 27/07/2021 17:03:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROIZVOD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [nchar](30) NOT NULL,
	[opis] [nchar](100) NULL,
	[cijena] [decimal](18, 2) NULL,
	[kolicina] [int] NULL,
	[BRAND_ID] [int] NULL,
	[NARUDZBA_ID] [int] NULL,
 CONSTRAINT [PK_PROIZVOD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NARUDZBA]  WITH CHECK ADD  CONSTRAINT [FK_NARUDZBA_NACIN_PLACANJA] FOREIGN KEY([NACIN_PLACANJA_ID])
REFERENCES [dbo].[NACIN_PLACANJA] ([ID])
GO
ALTER TABLE [dbo].[NARUDZBA] CHECK CONSTRAINT [FK_NARUDZBA_NACIN_PLACANJA]
GO
ALTER TABLE [dbo].[NARUDZBA]  WITH CHECK ADD  CONSTRAINT [FK_NARUDZBA_POPUST_KODOVI] FOREIGN KEY([KOD_ZA_POPUST_ID])
REFERENCES [dbo].[POPUST_KODOVI] ([ID])
GO
ALTER TABLE [dbo].[NARUDZBA] CHECK CONSTRAINT [FK_NARUDZBA_POPUST_KODOVI]
GO
ALTER TABLE [dbo].[NARUDZBA_PROIZVODI]  WITH CHECK ADD  CONSTRAINT [FK_NARUDZBA_PROIZVODI_NARUDZBA] FOREIGN KEY([NARUDZBAID])
REFERENCES [dbo].[NARUDZBA] ([ID])
GO
ALTER TABLE [dbo].[NARUDZBA_PROIZVODI] CHECK CONSTRAINT [FK_NARUDZBA_PROIZVODI_NARUDZBA]
GO
ALTER TABLE [dbo].[NARUDZBA_PROIZVODI]  WITH CHECK ADD  CONSTRAINT [FK_NARUDZBA_PROIZVODI_PROIZVOD] FOREIGN KEY([PROIZVODID])
REFERENCES [dbo].[PROIZVOD] ([ID])
GO
ALTER TABLE [dbo].[NARUDZBA_PROIZVODI] CHECK CONSTRAINT [FK_NARUDZBA_PROIZVODI_PROIZVOD]
GO
ALTER TABLE [dbo].[PROIZVOD]  WITH CHECK ADD  CONSTRAINT [FK_PROIZVOD_BRAND] FOREIGN KEY([BRAND_ID])
REFERENCES [dbo].[BRAND] ([ID])
GO
ALTER TABLE [dbo].[PROIZVOD] CHECK CONSTRAINT [FK_PROIZVOD_BRAND]
GO
ALTER TABLE [dbo].[PROIZVOD]  WITH CHECK ADD  CONSTRAINT [FK_PROIZVOD_NARUDZBA] FOREIGN KEY([NARUDZBA_ID])
REFERENCES [dbo].[NARUDZBA] ([ID])
GO
ALTER TABLE [dbo].[PROIZVOD] CHECK CONSTRAINT [FK_PROIZVOD_NARUDZBA]
GO
USE [master]
GO
